body {
    font-size: 15px;
    background: #cdcbcb;
}

.bl-background {
    background: #cdcbcb;
    padding: 20px;
    width: 100%;
    max-width: 1300px;
    min-width: 1100px;
    margin: auto;
}

.bl-bought {
    background: white;
    float:right;
    width:280px;
    padding:0px;
    border-radius:5px;
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
}

.bl-bought-element {
    border-bottom: 1px solid #bcbcbc;
    padding:10px;
}

.bl-title {
    
}

.bought-items, .remained-items {
    min-height: 20px;
    padding: 15px;
}

.bl-bought-item {
    display: inline-block;
    background-color: #E8E8E8;  
    padding: 5px;
    margin: 1.5px;
    border-radius: 5px;
}

.bl-item-counter {
    padding: 2px 6.8px;
    text-align: center;
    margin-left: 5px;
    border-radius: 360px;
    background-color: #F2711C;
    color: white;
}

.bl-list {
    background: white;
    margin-bottom: 200px;
    margin-right: 300px;
    margin-left: 100px;
    max-width: 1000px;
    min-width: 700px;
    border-radius: 5px;
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
}

.bl-add-container {
    width: inherit;
    height: 40px;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px;
}

.bl-add {
    width: 95%;
    margin: auto;
}

.add-buttons {
    margin: 0px;
    padding: 10px;
    height: 100%;
}

.bl-add .title {
    display: inline-block;
    box-sizing:border-box;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #bcbcbc;
    border-right: none;
    color: black;
}

.bl-add .submit {
    display: inline-block;
    box-sizing:border-box;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #bcbcbc;
    border-left: none;
    margin-left: -5px;
    background-color: dodgerblue;
    color: snow;
    font-weight: 600;
    width: 20%;
}

.bl-add .submit:hover {
    background-color: blue;
}

.bl-add .submit:active {
    background-color: mediumblue;
}

.bl-row {
    border-bottom: 1px solid #cdcbcb;
    height: 40px;
    padding: 10px;
}

.bl-product, .bl-count, .bl-list-buttons {
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    top: 50%;
}

.bl-product {
    padding: 10px;
}

.bl-count {
    padding: 0px;
    margin: 0px auto;
}

.bl-list-buttons-block {
    float: right;
    margin: 0px;
    height: inherit;
}

.bl-list-buttons {
    float: right;
    height: 100%;
}

.bl-list-buttons .cancelled {
    background-color:#DB2828;
    border-radius: 5px;
    margin-right: 5px;
    padding:9px 12px;
}

.bl-list-buttons .cancelled:hover {
    background-color: #ca1010;
}

.bl-list-buttons .cancelled:active {
    background-color: #ba0000;
}

.bl-list-buttons .buyed {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-right: 8px;
    padding:9px 40px;
}

.bl-list-buttons .buyed:hover {
    background-color: lightgrey;
}

.bl-list-buttons .buyed:active {
    background-color: darkgrey;
}

/* styles for already bought items */
.bl-already-buyed-row .bl-product{
    text-decoration: line-through;
}

.bl-already-buyed-row .bl-count button {
    visibility: hidden;
}

.bl-already-buyed-row .bl-list-buttons-block {
    display: none;
}

.bl-already-buyed-button {
    display: none;
}

.bl-already-buyed-row .bl-already-buyed-button {
    display: block;
}

.rebuy {
    display: inline-block;
    float: right;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-right: 5px;
    padding:9px 40px;
}

.hidden-objects-row {
	display: none;
}

.rebuy:hover {
    background-color: lightgrey;
}

.rebuy:active {
    background-color: darkgrey;
}

/*Кнопки*/
.inputs {
    border-bottom: 2.5px solid #bcbcbc;
    border-left: 0.5px solid #bcbcbc;
    border-right: 0.5px solid #bcbcbc;
    border-top: 0.5px solid #bcbcbc;
    outline: 0px none !important;
    display: inline-block;
    position: relative;
    /*transition: all 1s ease;*/
}

.inputs::after {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 0px;
    content: attr(data-tooltip);
    width: 100px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 19px;
    padding: 5px;
    background-color: darkviolet;
    transition: all 700ms ease;
}

.inputs:hover::after {
    display: block;
    bottom: 40px;
}

.bl-minus, .bl-plus {
    border-radius: 360px;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-family: Icons;
    font-weight: 400px;
}

.bl-minus {
    background: #FF2828;
}

.bl-minus:hover {
    background: #EB2828;
}

.bl-minus:active {
    background: #DB2828;
}

.bl-label {
    display: inline-block;
    background: #cdcbcb;
    padding:5px 10px;
    margin: 5px;
    border-radius:0.2em;
}

.bl-plus {
    background: #04a613;
}

.bl-plus:hover {
    background: #049013;
}

.bl-plus:active {
    background: #046012;
}

/* badge styles */
.badge {
    position: fixed;
    bottom: -80px;
    left: 30px;
    color:white;
    background-color: darkviolet;
    font-size: 20px;
    font-weight: 700;
    padding:20px;
    border-radius: 10px 10px 0px 0px;
    transition: all 700ms ease;
}

.badge:hover {
    bottom: 0px;
    background-color: forestgreen;
}

.student-name {
    margin-bottom:30px;
}

@media print {
    .badge {
        background-color: white;
        border: 1px solid #000000;
        color: black;
        font-weight: 600;
    }
    
    .student-name {
        display: none;
    }
}

@media screen and (max-width:1100px) {
    .bl-bought {
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .bl-list {
        width: 90%;
        margin: auto;
    }
}