body {
    font-size: 15px;
}

.bl-background {
    background: #cdcbcb;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    min-width: 1100px;
    margin: auto;
}

.bl-list {
    background: white;
    margin-bottom: 200px;
    margin-right: 300px;
    margin-left: 100px;
    max-width: 1000px;
    min-width: 700px;
    border-radius: 5px;
}

.bl-add-container {
    width: inherit;
    height: 40px;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px;
}

.bl-add {
    width: 95%;
    margin: auto;
}

.add-buttons {
    margin: 0px;
    padding: 10px;
}

.bl-add .title {
    display: inline-block;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #bcbcbc;
    color: black;
}

.bl-add .submit {
    display: inline-block;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #bcbcbc;
    margin-left: -5px;
    background-color: dodgerblue;
    color: snow;
    font-weight: 600;
    width: 15%;
}

.bl-bought {
    background: white;
    float:right;
    width:250px;
    padding:10px;
    border-radius:5px;
}

.bl-row {
    border-bottom: 1px solid #cdcbcb;
    height: 30px;
    padding: 10px;
}

.bl-row-container {
    margin: 0 20px;
}

.bl-product, .bl-count, .bl-list-buttons {
    display: inline-block;
    width: 31%;
    height: 100%;
}

.bl-product {
    padding: 0px;
}

.bl-count {
    padding: 0px;
}

.bl-list-buttons {
    float: right;
    height: 100%;
}

.bl-list-buttons-block{
    float: right;
    margin: 0px;
    height: inherit;
}

.bl-list-buttons .cancelled {
    background-color:#DB2828;
    border: 0px none !important;
    border-radius: 5px;
    margin-right: 5px;
    padding:8px 11px;
}

.bl-list-buttons .cancelled:hover {
    background-color: #ca1010;
}

.bl-list-buttons .cancelled:active {
    background-color: #ba0000;
}

.bl-list-buttons .buyed {
    background-color: #fefefe;
    border-bottom: 2px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
    border-radius: 5px;
    margin-right: 5px;
    padding:8px 30px;
}

.bl-list-buttons .buyed:hover {
    background-color: #a0a0a0;
}

.bl-list-buttons .buyed:active {
    background-color: #808080;
}

.inputs {
    outline: 0px none !important;
}

/*Кнопки*/
.bl-minus, .bl-plus {
    border-radius: 360px;
    width: 30px;
    height: 30px;
    border: solid 0px;
    display: inline-block;
    font-family: Icons;
    font-weight: 400px;
}

.bl-minus {
    background: #DB2828;
}

.bl-label {
    display: inline-block;
    background: #cdcbcb;
    padding:8px 10px;
    border-radius:0.2em;
}

.bl-plus {
    background: #04a613;
}
